.portfolio-aboutme {
  width: 100vw;
  height: 50vh;

  .wrapper {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 90px 0;
    max-width: calc(1920px * 0.6);
    @include flex-props(align_h);

    .title-section {
      flex: 2;
      position: relative;
      @include flex-props(align_v);

      h2 {
        font-size: 45px;
        display: inline-block;
        color: #333;
        z-index: 999;
        position: relative;
        line-height: 52px;

        &::after {
          content: "";
          width: 60%;
          height: 4px;
          position: absolute;
          bottom: 0;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%);
          background: $main-color;
        }
      }
    }

    .information-section {
      height: 100%;
      @include flex-props(align_h);
      flex-direction: column;
      flex: 3;
      & > p {
        color: #8a8fa3;

        &:first-child {
          margin-bottom: 30px;
        }
      }

      & > .information-links {
        margin-top: 60px;
        .link {
          margin-right: 15px;
          padding: 15px 60px;
          text-decoration: none;
          font-size: 18px;
          border: $main-color-border;
          border-radius: 5px;
        }

        .view-works {
          background: $main-color;
          color: white;
          transition: 0.5s all ease-in-out;
          cursor: pointer;

          &:hover {
            background: transparent;
            transition: 0.5s all ease-in-out;
            color: $main-color;
          }
        }

        .download-cv {
          color: $main-color;
          transition: 0.5s all ease-in-out;

          &:hover {
            background: $main-color;
            color: white;
            transition: 0.5s all ease-in-out;
          }
        }
      }
    }
  }
}

@include respond-to(large) {
  .portfolio-aboutme {
    .wrapper {
      padding: 40px 0;
      width: 90%;
    }
  }
}

@include respond-to(medium) {
  .portfolio-aboutme {
    height: 100vh;
    .wrapper {
      flex-direction: column;
      align-items: center;
      padding: 30px 0;
      .information-section {
        flex-direction: column;
        .information-links {
          display: flex;
          flex-direction: column;

          .link {
            text-align: center;
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
