.portfolio-services {
    width: 100vw;
    background: #f7f7f7;
    .wrapper{
        width: 70%;
        margin: 0 auto;
        padding: 90px 0;

        .title-section{
            @include flex-props(align_v);
            flex-direction: column;
            .title{
                font-size: 45px;
                display: inline-block;
                color: #333;
                z-index: 999;
                position: relative;
                line-height: 52px;
                margin-bottom: 45px;


                &::after{
                    content: "";
                    width: 60%;
                    height: 4px;
                    position: absolute;
                    bottom: 0;
                    bottom: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $main-color;
                }
            }

            .title-information{
                color: #8a8fa3;
                text-align: center;
                max-width: 80%;
            }

            margin-bottom: 80px;
        }

        .services-section{
            display: grid;
            width: 88%;
            margin: 0 auto;
            grid-template-columns: repeat(auto-fit, minmax(380px, 2fr));
            grid-gap: 25px;
            .web-dev{
                .overlay{
                    background: #3498db;
                }
            }

            .set-shop{
                .overlay{
                    background: #9b59b6;
                }
            }

            .front-end{
                .overlay{
                    background: #1abc9c;
                }
            }

            .back-end{
                .overlay{
                    background: #f39c12;
                }
            }

            & > div{
                height: 380px;
                width: 100%;
                border-radius: 10px;
                position: relative;
                background-repeat: no-repeat;
                background-size: cover;

                & > .overlay{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    border-radius: inherit;
                    opacity: .9;
                    z-index: 0;

                    & > .content{
                        color: white;
                        padding: 60px;

                        .title{
                            font-size: 28px;
                            font-weight: 600;
                            line-height: 60px;
                        }

                        .icon{
                            font-size: 80px;
                            margin-bottom: 25px;
                        }

                        p{
                            font-size: 18px;
                        }
                    }
                }
            }
        }


    }
}

@include respond-to(small){
    .portfolio-services{
        .wrapper{
            width: 90%;

            .services-section{
                width: 100%;
            }
        }
    }
}