@import "./res";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $poppins;

  &::selection {
    background: $main-color;
    color: #fff;
  }
}

.App {
}

@import "./_partials/exportPartials";
